@import '../../../sass/utils';

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media('md') {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
