@import '@sass';

.card {
  background-color: $gray-dark;
  box-shadow: $shadow-md;
  border-radius: 0.5rem;
  padding: 2.5rem 3rem;

  @include media('md') {
    padding: 3rem 3.6rem;
  }
}

.skills-heading {
  font-weight: normal;
}
