@import '@sass';

.title {
  @include media('lg') {
    margin-bottom: 3rem;
  }
}

.skills {
  @include space-y(2.7rem);
  max-height: 90rem;
  padding: 2rem;
  overflow-y: auto;
  box-shadow: $scroll-box-shadow;

  @include scrollbars(0.7rem, $primary, #e5e7eb);

  & > * {
    display: flex;
  }
}
