$breakpoints: (
  xs: 320px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

$fonts: (
  xs: 1.2rem,
  sm: 1.4rem,
  base: 1.6rem,
  md: 1.8rem,
  lg: 2rem,
  xl: 2.2rem,
);

$black: #18181b;
