@import '../../../sass/utils';

.nav-link {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  @include font('sm');
  position: relative;

  @include media('md') {
    @include font('lg');
  }

  &:hover,
  &.active {
    background-color: rgba(lighten($primary, 20), 0.2);
    color: $primary;
  }
}
