.container {
  // flex-gap trick
  // TODO: replace with gap when fully supported in flex
  margin: -0.6rem -0.4rem;
  margin-bottom: calc(3rem - 0.4rem);

  & > * {
    display: inline-flex;
    margin: 0.6rem 0.4rem;
  }
}
