@import '../../../sass/utils';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}

.input {
  width: 100%;
  max-width: 70rem;
  padding: 1rem;
  border: 4px solid lighten($gray-dark, 20);
  border-radius: 0.5rem;
  outline: none;
  @include font('lg');

  @include media('lg') {
    padding: 2rem;
    @include font('xl');
  }

  &:focus {
    border-color: rgba($primary, 0.9);
    box-shadow: 0 0 0 5px $black, 0 0 6px 5px rgba($primary, 0.9);
  }
}
