@import './sass/utils';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: $black;
  background-color: $gray-light;
}

a {
  color: currentColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
